*{box-sizing: border-box}
#ota{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: Bahnschrift;
}
.ota1{
    margin-top: 30px;
}
#bola1{
    display: inline-block;
    color: aqua;
    margin: 0 0;
    font-size: 20px;
}
#bola2{ display: inline-block;
    font-size: 20px;
    margin: 0 0;
}
#bola3{
    margin: 0 0;
    font-size: 10px;
}
#bola4{
    text-align: center;
    margin: 0 0;
    font-size: 45px;
}
#bola5{
    margin: 0 0;
}
#bola6 {
    font-size: 20px;
    margin: 0 0;
}
#bola7{
    display: inline-block;
    margin: 0 0;
    font-size: 15px;
}
#bola8 {
    display: inline-block;
    color: aqua;
    margin: 0 0;
    font-size: 15px;
}
#bola9{
    display: inline-block;
    margin: 0 0;
    font-size: 15px;
}
ul{
    display: flex;
    justify-content: space-around;
    font-size: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Bahnschrift;
}
a{
    color: gray;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: aqua;
}
#ota3{
    height: 100vh;
    background-image: url("../images/bg_2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#bola10{
    font-family: Bahnschrift;
    text-align: right;
}
#bola11{
    font-size: 45px;
    margin-bottom: 0;
    padding-top: 220px;
    padding-right: 30px;
}
#bola12{
    padding-right: 70px;
    font-size: 20px;
}
#bola13{
    margin-right: 420px;
    font-size: 25px;
    border: 1px solid inherit;
    border-radius: 30px;
    background-color: #1fb157;
    color: white;
    padding: 25px 60px;
}
#bola13:hover{
    background-color: green;
    color: gray;
}
















.ota4{
    font-family: Bahnschrift;
    text-align: center;
    margin-top: 140px;
}
.ota5{
    margin-bottom: 80px;
}
.bola14{
    font-size: 30px;
    margin-bottom: 0;
}
.bola15{
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}
#rasmlarga{
    display: flex;
    justify-content: space-around;
}
img{
    width: 100%;
    border-radius: 700px;
}
.bola16{
    width: 30%;
    height: 20%;
}
.bola1{
    display: flex;
    justify-content: space-around;
}
.bola17{
    color: gray;
    font-size: 15px;
}
.bola18{
    color: black;
    font-size: 20px;
}
.bola19{
    font-size: 15px;
}












#bola14{
    text-align: center;
    color: gray;
    font-size: 15px;
}
.oxirgip{
    display: flex;
    justify-content: space-around;
}
.oxirgi{
    border: 2px solid aqua;
    width: auto;
    padding: 0 20px;
}
.oxirgi3{
    font-size: 25px;
}
.oxirgi5{
    font-size: 20px;
}
.oxirgi6{
    display: flex;
    justify-content: space-around;
}
.oxirgi2{
    color: aqua;
    font-size: 25px;
    padding-right: 0;
}
.oxirgim{
    background-color: lightgray;
    font-size: 15px;
    padding: 10px 0;
}
.oxirgin{
    font-size: 15px;
    padding: 10px 0;

}