#soya{
    background-image: url("../images/bg_2.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

}
#ota{
    background-color: rgba(0,0,0,0.5) ;
    height: 150px ;
}
a:hover{
    text-decoration: none;
   color: blue !important;
    font-size: 22px;
}
#bola{
    margin-top: 200px;
    color: #000;

}
#bola2{
    margin-right: 75px !important;
}
#button{
    border-radius: 50px;
    margin-right: 290px;
}
#fon{
    background-color: white;
    width: 100%;
    height: 100vh;
}
#bola3{
    margin-top: 100px;
}
#bola4{
    color: #c6c8ca;

}
#bola9{
    color: #c6c8ca;

}
#rasm1{
    border-radius: 60px;
}
#bola5{
    margin-top: 50px;
    margin-right: 60px;
}
.btn{
    margin-bottom:-40px !important;
    border-radius: 50px !important;
    padding: 12px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

}
sub{
    color: #ccc;
    font-size: 15px !important;
}
#bola6{
    margin-top: 60px;
}
button:hover{
    background-color: black !important;
}
.text-white{
    list-style-type: none !important;
}
#bola6{
    /*background-color: #cccccc;*/

    width: 100% !important;
    height: 100vh !important;
}

.fon{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
img{
    width:100%;
}

